[Desktop Entry]
Encoding=UTF-8
Exec=python3 /home/user/Documents/FC4_meta_game/southern_kyrat_location_generator.py
Icon=utilities-terminal
MimeType=
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
